.gpt3__blog {
    display: flex;
    flex-direction: column;    
  }
  
  .gradient__text {
    font-size: 40px;
    font-weight: 500;
  }
  
  .gpt3__blog-heading {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
  }
  
  .gpt3__blog-container {
    display: flex;
    flex-direction: row;
  }
  
  /* Swiper styles */
  .swiper {
    width: 100%;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 640px) {
    .swiper-slide {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .swiper-slide {
      width: 90%;
    }
  }
  